.certificate{
	padding: 120px 0 120px;
	&__content{
		display: flex;
		justify-content: space-between;
	}

	&__title{
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #1E212C;
	}
	&__subtitle{
		font-weight: 900;
		font-size: 46px;
		line-height: 130%;
		color: #1E212C;
		margin: 8px 0 48px;
	}
	&__text{
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		color: #424551;
		margin-bottom: 40px;
	}
	&__icons{
		display: flex;
		column-gap: 20px;
		img{
			width: 33.33333%;
		}
	}
	&__right{
		width: 62%;
		position: relative;
		img{
			width: 100%;
			position: absolute;
		}
	}
}