.post{
	padding: 120px 0 180px;
	&__content{
		display: flex;
		justify-content: space-between;
	}
	&__btn{
		width: 158px;
		height: 52px;
	}
	&__row{
		padding-top: 60px;
		display: flex;
		flex-wrap: wrap;
		column-gap: 30px;
	}
	&__card{
		width: calc(33.33333% - 30px);
		position: relative;
	}
	&__img{
		width: 100%;
		border-radius: 4px;

	}
	&__icon{
		position:absolute;
		top: 12px;
		left: 12px;
		width: 85px;
		height: 23px;
		background: #FFFFFF;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		& svg{
			margin-right: 6px;
		}
	}
	&__meta{
		padding: 6px 0 8px;
		display: flex;
		column-gap: 25px;
		&-text{
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			font-size: 14px;
			color: #787A80;
			& svg{
				margin-right: 9px;
			}
			&:not(:last-child)::before{
				content: '';
				width: 1px;
				height: 12px;
				background: #787A80;
				position: absolute;
				top: 0;
				right: -14.5px;
				transform: translateY(50%);
			}
		}
	}
	&__{
		font-weight: 700;
		font-size: 20px;
		line-height: 150%;
		color: #1E212C;
	}
	&__text{
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		color: #424551;
		margin: 8px 0 16px;
	}
	&__link{
		font-weight: 700;
		font-size: 16px;
		color: #1E212C;
		cursor: pointer;

		&:hover{
			text-decoration-line: underline;
			color: #fe4136

		}
		& svg{
			margin-left: 11px;
		}
	}
}